#root {
  max-width: 1280px;
}

* {
  list-style: none;
}

#container-menu {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  position: fixed;
  justify-content: space-between;
  height: fit-content;
	top: 0;
	z-index: 0;
  width: 100vw;
  background-color: lightgray;
}

.container-logo {
  color: orangered;
  font-size: large;
  font-weight: bold;
  height: auto;
  width: 250px;
  text-align: center;
}

.container-link {
  display: flex;
}

.container-item {
  text-align: center;
  color: black;
  width: 150px;
}

.container-item:hover {
  background-color: black;
  color: white;
}

#container-footer {
	bottom: 0; 
  text-align: left;
  color: black;
  width: 100vw;
  position: fixed;
}

img {
  border-radius: 50%;
  margin-top: 10px;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

#container-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 200px;
  height: 230px;
  color: black;
  background-color: lightgray;
}

#container-students{
  display: flex;
  flex-flow: row wrap;
  margin-top: 6%;
  height: 40vw;
  width: 100vw;
  gap: 20px;
  justify-content: flex-start;
}